:host {
    display: block;
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .todo-container {
    max-width: 600px;
    margin: auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .todo-header {
    background-color: #8162ac;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .todo-input {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .todo-button {
    width: 25%;
    padding: 8px;
    background-color: #34d065;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .todo-item {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
  
  .completed {
    background-color: #d4edda;
    color: #26803b;
  }
  